/* Estilos globais */
body {
    background-color: #f8f9fa;
    font-family: Arial, sans-serif;
}

.container {
    max-width: 1200px;
}

/* Estilos da barra de navegação */
.navbar-custom {
    background-color: #f8f9fa;
    border-bottom: 1px solid #e3e4e6;
}

.navbar-custom .navbar-brand img {
    height: 40px; /* Altura ajustada */
}

.navbar-custom .navbar-nav .nav-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #000;
}

.navbar-custom .navbar-toggler {
    border: none;
}

.navbar-custom .navbar-collapse {
    justify-content: flex-end;
}

/* Estilos do rodapé */
.footer-custom {
    background-color: #f8f9fa;
    border-top: 1px solid #e9ecef;
    color: #6c757d;
    padding: 20px 0;
}

.footer-custom p {
    margin: 0;
}

/* Estilos dos cards */
.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
}

.card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Estilos da paginação */
.pagination {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
}

.page-item {
    margin: 0 5px;
}

.page-link {
    text-decoration: none;
    padding: 10px 15px;
    color: #007bff;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.page-item.active .page-link {
    background-color: #007bff;
    color: #fff;
    border-color: #007bff;
}

/* Classes personalizadas para listagem de vagas */
.vaga-card {
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 20px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.vaga-header {
    display: flex;
    align-items: center;
}

.company-logo {
    width: 50px;
    height: 50px;
    margin-right: 20px;
}

.vaga-info {
    flex-grow: 1;
}

.vaga-title {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
}

.vaga-company, .vaga-location {
    margin: 5px 0;
    color: #666;
}

.vaga-footer {
    text-align: right;
}

.vaga-type, .vaga-postedAt {
    margin: 0;
    color: #999;
}

/* Estilos adicionais */
.text-danger {
    color: red;
    font-size: 0.875rem;
}

.vector-image {
    transition: transform 0.3s ease;
}

.vector-image:hover {
    transform: scale(1.1);
}
 